<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pokemons</title>
</head>
<body>
    <h1>Lista de Pokemons</h1>
    <div id="pokemon-list">
        {% for pokemon in pokemons %}
            <div>
                <h2>{{ pokemon.nome }}</h2>
                <p>Descrição: {{ pokemon.descricao }}</p>
                <img src="{{ pokemon.foto }}" alt="{{ pokemon.nome }}" style="width: 100; height: 100px;">
            </div>
        {% endfor %}
    </div>
</body>
</html>
