<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            
        </nav>
    </header>
    
    <main>
        <article class="menu">
            <div>
                {% for list in data %}
                <li class="card">Nome: {{list['nome']}}<br>Senha: {{list['senha']}}</li>
                {% endfor %}
                
            </div>
        </article>
    </main>

    <footer>
        <p>Footer</p>
    </footer>

</body>
</html>