{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de filmes</h2>
<hr>
<div class="row">  
    {% for filme in filmes %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="http://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{filme.title}}</h5>
            <p class="card-text">{{filme.overview}}</p>
            <hr>
            
            <h2>Nota</h2>
            <button class="btn">{{filme.vote_average}}</button>
            
            </div>
        </div>
    </div>
    {% endfor %} 
</div>



{% endblock conteudo %}